<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xp.exercise">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".WelcomActivity"
            android:label="@string/app_name"
            android:theme="@style/fullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity"></activity>
        <activity android:name=".canvas.CanvasActivity"></activity>
        <activity android:name=".canvas.widget.CompassActivity"></activity>
        <activity android:name=".viewgroup.activity.ScrollerTestActivity"></activity>
        <activity android:name=".listview.PullToChangeHeaderActivity"></activity>
        <activity
            android:name=".viewgroup.activity.VisibleActivity"
            android:theme="@style/ActivitySwitchExplode"></activity>
        <activity android:name=".viewgroup.activity.SwitchActivity"></activity>
        <activity android:name=".viewgroup.activity.PathMotionActivity"></activity>
        <activity android:name=".canvas.secoo.SpeedActivity"></activity>
        <activity android:name=".listview.SlowScrollListViewActivity"></activity>
        <activity
            android:name=".toolbar.CollapsingToolbarActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".toolbar.CoordinatorLayoutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".toolbar.CollapsingToolbarSnapActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".toolbar.MyBehaviorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".toolbar.BottomSheetActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".toolbar.TitleImageBehaviorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".statsbar.FullScreenHaveStatusActivity"
            android:theme="@style/AppSwipeTheme" />
        <activity
            android:name=".statsbar.StatusBarTextColorActivity"
            android:theme="@style/AppSwipeTheme" />
        <activity
            android:name=".statsbar.StatusBarTextColor2Activity"
            android:theme="@style/AppSwipeTheme" />
        <activity
            android:name=".statsbar.FragmentStatusbarActivity"
            android:theme="@style/AppSwipeTheme" />
        <activity
            android:name=".viewgroup.activity.CustomViewGroupActivity"
            android:theme="@style/AppSwipeTheme" />
        <activity
            android:name=".ontouch.TouchNormalActivity"
            android:theme="@style/AppSwipeTheme" />
        <activity
            android:name=".ontouch.TouchRecyclerActivity"
            android:theme="@style/AppSwipeTheme" />
        <activity
            android:name=".ontouch.TouchScrollViewActivity"
            android:theme="@style/AppSwipeTheme" />
        <activity
            android:name=".viewpager.IndicatorViewPagerActivity"
            android:theme="@style/AppSwipeTheme" />

    </application>

</manifest>
